*{
	margin: 0;
	padding: 0;
}
#color1{
	width: 25%;
	height: 1024px;
	background: #94FFF3;
	float: left;
	color: #FFFFFF;
	
}
#color1>p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	text-align: center;
	margin-top: 15px;

}


#color2{
	width: 25%;
	height: 1024px;
	background: #FFC340;
	float: left;
	color: #FFFFFF;


}
#color2>p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	text-align: center;
	margin-top: 15px;
}

#color3{
	width: 25%;
	height: 1024px;
	background: #696E82;
	float: left;
	color: #FFFFFF;
}
#color3>p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	text-align: center;
	margin-top: 15px;
}

#color4{
	width: 25%;
	height: 1024px;	
	background: #5A95FF;
	float: left;
	color: #FFFFFF;
}
#color4>p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	text-align: center;
	margin-top: 15px;
}
