* {
	margin: 0;
	padding: 0;
}
header {
	width: 100%;
	height: 100px;
}
header div {
	width: 30%;
	height: 100px;
	border: 2px solid black;
}
.header1 {

	float: left;
	width: 30%;
}
.header2 {
	border-left: none;
	float: left;
	width: 30%;
}
nav {
	width: 62.19%;
	height: 100px;
}
nav div {
	border: 2px solid black;
	width: 24%;
	height: 95px;
	float: left;
	border-top: none;

}
.nav2, .nav3, .nav4 {
	border-left: none;
}
section div {
	width: 14.9%;
	height: 200px;
	border: 2px solid black;
	border-top: none;
	float: left;
	clear: both;
}
div {
	width: 45.1%;
	height: 200px;
	border: 2px solid black;
	float: left;
	border-left: none;
	border-top: none;
}
@media screen and (max-width: 768px){
	header {
		width: 100%;
		height: 100px;
	}
	header div {
		width: 30%;
		height: 100px;
		border: 2px solid black;
	}
	.header1 {

		float: left;
		width: 30%;
	}
	.header2 {
		border-left: none;
		float: left;
		width: 30%;
	}
	nav {
		width: 62.2%;
		height: 100px;
	}
	nav div {
		border: 2px solid black;
		width: 48.2%;
		height: 95px;
		float: left;
		border-top: none;
	}
	.nav2, .nav3, .nav4 {
		border-left: none;
	}
	.nav3 {
		border-left: 2px solid black;
	}
	section div {
		width: 15%;
		height: 200px;
		border: 2px solid black;
		border-top: none;
		float: left;
		clear: both;
	}
	div {
		width: 45%;
		height: 200px;
		border: 2px solid black;
		float: left;
		border-left: none;
		border-top: none;
	}
}
@media screen and (max-width: 368px) {
	header {
		width: 100%;
		height: 100px;
	}
	header div {
		width: 30%;
		height: 100px;
		border: 2px solid black;
	}
	.header1 {

		float: left;
		width: 100%;
	}
	.header2 {
		border-top: none;
		float: left;
		width: 100%;
		border-left: 2px solid black;
	}
	nav {
		width: 100%;
		height: 100px;
	}
	nav div {
		border: 2px solid black;
		width: 100%;
		height: 95px;
		float: left;
		border-top: none;
	}
	.nav1, .nav2, .nav3, .nav4 {
		border-left: 2px solid black;
	}
	.nav3 {
		border-left: 2px solid black;
	}
	section div {
		width: 15%;
		height: 200px;
		border: 2px solid black;
		border-top: none;
		float: left;
		clear: both;
		display: none;
	}
	div {
		width: 100%;
		height: 200px;
		border: 2px solid black;
		float: left;
		border-left: 2px solid black;
		border-top: none;
	}
}