* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 1000px;
}
header {
	width: 100%;
	height: 50px;
	background-color: #91A5D1;
	margin-bottom: 5px;
}

#headerleft h1 {
	float: left;
	line-height: 50px;
}
#headerright {
	float: right;
	width: 400px;
	height: 50px;
}
#headerright li {
	width: 80px;
	height: 20px;
	display: inline-block;
}
#headerright a {
	background-color: #00FF42;
	padding: 10px;
	line-height: 50px;
	color: #FFF;
	border-radius: 10px;
	text-decoration: none;
}
#inser a {
	background-color: #1E23FF;
}
#delete a {
	background-color: #FF003C;
}
#headerright a:hover {
	background-color: #FFF;
	color: #00FF42;
}
#inser a:hover {
	color: #1E23FF;
}
#delete a:hover {
	color: #FF003C;
}
table, tr, td {
	border-collapse: collapse;
	border: 1px solid #4F718F;
}
table {
	margin: auto;
}
td img{
	width: 50px;
	height: 50px;

}
td {
	height: 30px;
}
#tr2 {
	background-color: #A3BDFF;
}
.td5 p, .td6 p {
	text-align: right;
	margin-right: 5px;
}
.td6 p, .td7 p {
	color: #1FBE00;
}
.td7 p {
	text-align: center;
}

del {
	color: #FF0000;
}
#tr2 .td8 a {
	background-color: #4B4FFF;
	color: #FFF;
}
#tr4, #tr6, #tr8, #tr10 {
	background-color: #B9F2FF;
}
.button {
	margin-left: 5px;
	background-color: #59F4FF;
	border: 1px solid #59F4FF;
	padding: 2px;
	border-radius: 5px;
}



