* {
	margin: 0;
	padding: 0;
}
body {
	border: 1px black dotted;
	width: 50%;
	height: 300px;
	margin: 5px;
}
.div2 {
	border: 1px black solid;
	height: 250px;
	width: 90%;
	margin: 20px 40px 30px 10px;
}
.div3 {
	border: 1px black dotted;
	width: 90%;
	height: 100px;
	margin: 30px 10px 5px 10px;
	text-align: center;
	line-height: 100px;
	font-size: 40px;

}
.div4 {
	border: 1px black dotted;
	height: 100px;
	width: 90%;
	margin: 10px 40px 30px 10px;
	line-height: 20px;

}