* {
	margin: 0;
	padding: 0;
}
body {
	margin: auto;
	width: 80%;
	height: 1000px;
}
.logo {
	width: 20%;
	height: 169px;
	float: left;
	margin-top: 5px;
	clear: both;
}
.logo img {
	width: 95%;
	height: auto;
}
.baner {
	width: 79%;
	height: 170px;
	float: left;
	margin-top: 5px;
}
.baner img {
	width: 101.5%;
	height: 173px;
}
/* header-logo-baner-slogan */
#menu {
	width: 100%;
	height: 50px;
	float: left;
	margin-top: 5px;
	position: relative;
	color: #FFF;
	margin-left: 2px;
}
#menu>ul {
	width: 100%;
	height: 30px;
	background-color: #2D31FF;
	padding-top:10px;
	border-radius: 10px;
}
#menu>ul>* {
	margin-left: 10px;
}
#menu ul li {
	display: inline-block;
	text-align: center;
	border-left: #FFF;
}
#menu a {
	list-style-type: none;
	text-decoration: none;
	margin-left: 42px;
	padding-left: 20px;
	color: #FFF;
	font-size: 16px;
}
#dropdown {
	position: absolute;
	top: 40px;
	display: none;
	background-color:  #2D31FF;
	width: 73%; 
	left: 220px;
	height: 30px;
	margin-left: 10px;
	border: 1px solid #FFF;
}
#dropdown li {
	margin-top: 5px;
}
/* Menu */
#menu a:hover {
	background-color: #FFF;
	color: #2D31FF;
	padding: 8px 10px 10px 10px;
	margin-left: 45px;
	font-size: 17px;
}
#menu li:hover #dropdown  {
	background-color: #2D31FF;
	color: #2D31FF;
	padding: 10px 25px 13px 25px;
	margin-left: 20px;
	display: block;
}
/* Menu Drop Down */
section {
	width: 30%;
	height: 500px;
	float: right;
	margin-top: -5px;
}
.section1-1 {
	width: 97%;
	height: 220px;
	border-left: 3px solid #868AFF;
	background-color: #B0C4DE;
	border-bottom: 1px solid #868AFF;
}
.section1-1 img {
	margin: 5px 10px;
	width: 93%;
}
 a {
	text-decoration: none;
	color: #6176FF;
	text-align: center;
}
 a:hover {
	text-decoration: none;
	color: #E85143;
}
#section1-2 img {
	width: 94%;
}
#section1-2 {
	height: 250px;
}
#section1-3 img {
	width: 93.5%;
	height: 180px;
}
#side {
	width: 69%;
	height: 691px;
	float: left;
	margin-top:-4px;
}
.side1 {
	width: 49%;
	height: 365px;
	float: left;
	border-right: none;
}
.side1 p {
	text-indent: 20px;
}
.side1 img {
	width: 95%;
	margin: 8px;
}
.side1-1-1 {
	float: right;

}
.side1-1{
	width: 100%;
	height: 135px;
	border-bottom: 1px solid #A9A9A9;
	border-right: none;
}
.side1-1-1 {
	width: 45%;
	float: left;
	height: 120px;
}
.side1-1-2  {
	width: 50%;
	float: right;
	height: 120px;
}
.side1-1-2 p {
	text-indent: 20px;
}
.muti {
	width: 100%;
	height: 20px;
	margin-top: 20px;
	float: left;
	position: relative;
}
.muti div {
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 20px;
	border-top: 5px solid #2D31FF;
}
.muti span {
	position: absolute;
	top: -6px;
	left: 20px;
	z-index: 9999;
	width: 17%;
	background-color: #FFF;
	text-align: center;
	color: #E84076;
}
.audio {
	width: 45%;
	height: 274px;
	float: left;
	margin-left: 30px;
}
div iframe {
	width: 90%;
	height: 200px;
	margin: 20px;
}
.audio p {
	margin-left: 10px;
	font-size: 20px;
	text-align: center;
	margin-top: -10px;
}
#video-danang {
	width: 100%;
	height: 287px;
	float: left;
	border-bottom: 2px solid #A9A9A9;
}
#audio1 {
	border-left: 1px solid #A9A9A9;
	margin-left: 20px;
	padding-left: 10px;  
}
footer{
	border: 2px solid #A9A9A9;
	width: 143.5%;
	height: 119px;
	float: left;
	margin-top: 5px;
	border-radius: 10px;
	background-color: #DCDCDC;
}
#footer2 {
	margin: 20px 20px;
}
.copy {
	float: right;
}
@media screen and (max-width: 768px) {
	body {
		margin: auto;
		width: 80%;
		height: 1000px;
	}
	.logo {
		width: 20%;
		height: 100px;
		float: left;
		margin-top: 5px;
		clear: both;
	}
	.logo img {
		width: 95%;
		height: 100px;
	}
	.baner {
		width: 79%;
		height: 100px;
		float: left;
		margin-top: 5px;
	}
	.baner img {
		width: 101.5%;
		height: 100px;
	}
	/* header-logo-baner-slogan */
	#menu {
		width: 100%;
		height: 100px;
		float: left;
		margin-top: 5px;
		position: relative;
		color: #FFF;
		margin-left: 2px;
	}
	#menu>ul {
		width: 100%;
		height: 80px;
		background-color: #2D31FF;
		padding-top:10px;
		border-radius: 10px;
	}
	#menu>ul>* {
		margin-left: 10px;
		padding: 10px;
	}
	#menu ul li {
		display: inline-block;
		text-align: center;
		border-left: #FFF;
	}
	#menu a {
		list-style-type: none;
		text-decoration: none;
		margin-left: 42px;
		padding-left: 20px;
		color: #FFF;
		font-size: 16px;
	}
	#dropdown {
		position: absolute;
		top: 90px;
		display: none;
		background-color:  #2D31FF;
		width: 91%; 
		left: -20px;
		height: 49px;
		margin-left: 10px;
		border: 1px solid #FFF;
	}
	#dropdown li {
		margin-top: 0px;
		padding: 5px;
	}
	/* Menu */
	#menu a:hover {
		background-color: #FFF;
		color: #2D31FF;
		padding: 8px 10px 10px 10px;
		margin-left: 45px;
		font-size: 17px;
	}
	#menu li:hover #dropdown  {
		background-color: #2D31FF;
		color: #2D31FF;
		padding: 10px 25px 13px 25px;
		margin-left: 20px;
		display: block;
	}
	/* Menu Drop Down */
	section {
		width: 30%;
		height: 500px;
		float: right;
		margin-top: -5px;
	}
	.section1-1 {
		width: 97%;
		height: 152px;
		border-left: 3px solid #868AFF;
		background-color: #B0C4DE;
		border-bottom: 1px solid #868AFF;
	}
	.section1-1 img {
		margin: 5px 10px;
		width: 91%;
	}
	 a {
		text-decoration: none;
		color: #6176FF;
		text-align: center;
	}
	 a:hover {
		text-decoration: none;
		color: #E85143;
	}
	#section1-2 img {
		width: 89%;
		height: 131px;
	}
	#section1-3 img {
		width: 89.5%;
		height: 121px;
	}
	#section1-2 {
		height: 186px;
	}
	#side {
		width: 69%;
		height: 691px;
		float: left;
		margin-top:-4px;
	}
	.side1 {
		width: 49%;
		height: 365px;
		float: left;
		border-right: none;
	}
	.side1 p {
		text-indent: 20px;
	}
	.side1 img {
		width: 95%;
		margin: 8px;
	}
	.side1-1-1 {
		float: right;

	}
	.side1-1{
		width: 100%;
		height: 216px;
		border-bottom: 1px solid #A9A9A9;
		border-right: none;
	}
	.side1-1-1 {
		width: 45%;
		float: left;
		height: 120px;
	}
	.side1-1-2  {
		width: 50%;
		float: right;
		height: 120px;
	}
	.side1-1-2 p {
		text-indent: 20px;
	}
	#side-left{
		display: none;
	}
	.muti {
		width: 100%;
		height: 20px;
		margin-top: 78px;
		float: left;
		position: relative;
	}
	.muti div {
		position: absolute;
		z-index: 9;
		width: 100%;
		height: 20px;
		border-top: 5px solid #2D31FF;
	}
	.muti span {
		position: absolute;
		top: -6px;
		left: 20px;
		z-index: 9999;
		width: 17%;
		background-color: #FFF;
		text-align: center;
		color: #E84076;
	}
	.audio {
		width: 91%;
		height: 274px;
		float: left;
		margin-left: 30px;
	}
	div iframe {
		width: 90%;
		height: 200px;
		margin: 20px;
	}
	.audio p {
		margin-left: 10px;
		font-size: 20px;
		text-align: center;
		margin-top: -10px;
	}
	#video-danang {
		width: 100%;
		height: 287px;
		float: left;
		border-bottom: 2px solid #A9A9A9;
	}
	#audio1 {
		border-left: 1px solid #A9A9A9;
		margin-left: 20px;
		padding-left: 10px; 
		display: none; 
	}
	footer{
		border: 2px solid #A9A9A9;
		width: 143.5%;
		height: 119px;
		float: left;
		margin-top: 5px;
		border-radius: 10px;
		background-color: #DCDCDC;
	}
	#footer2 {
		margin: 20px 20px;
	}
	.copy {
		float: right;
	}
@media screen and (max-width: 320px) {
	body {
		margin: auto;
		width: 80%;
		height: 1000px;
	}
	.logo {
		width: 100%;
		height: 100px;
		float: left;
		margin-top: 5px;
		clear: both;
	}
	.logo img {
		width: 95%;
		height: 100px;
	}
	.baner {
		width: 79%;
		height: 100px;
		float: left;
		margin-top: 5px;
		display: none;
	}
	.baner img {
		width: 101.5%;
		height: 100px;
	}
	/* header-logo-baner-slogan */
	#menu {
		width: 100%;
		height: 100px;
		float: left;
		margin-top: 5px;
		position: relative;
		color: #FFF;
		margin-left: 2px;
		display: none;
	}
	#menu>ul {
		width: 100%;
		height: 80px;
		background-color: #2D31FF;
		padding-top:10px;
		border-radius: 10px;
	}
	#menu>ul>* {
		margin-left: 10px;
		padding: 10px;
	}
	#menu ul li {
		display: inline-block;
		text-align: center;
		border-left: #FFF;
	}
	#menu a {
		list-style-type: none;
		text-decoration: none;
		margin-left: 42px;
		padding-left: 20px;
		color: #FFF;
		font-size: 16px;
	}
	#dropdown {
		position: absolute;
		top: 90px;
		display: none;
		background-color:  #2D31FF;
		width: 91%; 
		left: -20px;
		height: 49px;
		margin-left: 10px;
		border: 1px solid #FFF;
	}
	#dropdown li {
		margin-top: 0px;
		padding: 5px;
	}
	/* Menu */
	#menu a:hover {
		background-color: #FFF;
		color: #2D31FF;
		padding: 8px 10px 10px 10px;
		margin-left: 45px;
		font-size: 17px;
	}
	#menu li:hover #dropdown  {
		background-color: #2D31FF;
		color: #2D31FF;
		padding: 10px 25px 13px 25px;
		margin-left: 20px;
		display: block;
	}
	/* Menu Drop Down */
	section {
		width: 30%;
		height: 500px;
		float: right;
		margin-top: -5px;
	}
	.section1-1 {
		width: 97%;
		height: 152px;
		border-left: 3px solid #868AFF;
		background-color: #B0C4DE;
		border-bottom: 1px solid #868AFF;
		display: none;
	}

	.section1-1 img {
		margin: 5px 10px;
		width: 91%;
	}
	 a {
		text-decoration: none;
		color: #6176FF;
		text-align: center;
	}
	 a:hover {
		text-decoration: none;
		color: #E85143;
	}
	#section1-2 img {
		width: 89%;
		height: 131px;
	}
	#section1-3 img {
		width: 89.5%;
		height: 121px;
	}
	#section1-2 {
		height: 186px;
	}
	#side {
		width: 70%;
		height: 691px;
		float: left;
		margin-top:-4px;
	}
	.side1 {
		width: 132%;
		height: 365px;
		float: left;
		border-right: none;
	}
	#side-top {
		border-bottom: 1px solid #A9A9A9;
	}
	.side1 p {
		text-indent: 20px;
	}
	.side1 img {
		width: 95%;
		margin: 8px;
	}
	.side1-1-1 {
		float: right;

	}
	.side1-1{
		width: 100%;
		height: 216px;
		border-bottom: 1px solid #A9A9A9;
		border-right: none;
	}
	.side1-1-1 {
		width: 45%;
		float: left;
		height: 120px;
	}
	.side1-1-2  {
		width: 50%;
		float: right;
		height: 120px;
	}
	.side1-1-2 p {
		text-indent: 20px;
	}
	#side-left{
		display: none;
	}
	.muti {
		width: 132%;
		height: 20px;
		margin-top: 78px;
		float: left;
		position: relative;
	}
	.muti div {
		position: absolute;
		z-index: 9;
		width: 100%;
		height: 20px;
		border-top: 5px solid #2D31FF;
	}
	.muti span {
		position: absolute;
		top: -6px;
		left: 20px;
		z-index: 9999;
		width: 63%;
		background-color: #FFF;
		text-align: center;
		color: #E84076;
	}
	.audio {
		width: 91%;
		height: 274px;
		float: left;
		margin-left: 30px;
	}
	div iframe {
		width: 90%;
		height: 200px;
		margin: 20px;
	}
	.audio p {
		margin-left: 10px;
		font-size: 20px;
		text-align: center;
		margin-top: -10px;
	}
	#video-danang {
		width: 100%;
		height: 308px;
		float: left;
		border-bottom: 2px solid #A9A9A9;
	}
	#audio1 {
		border-left: 1px solid #A9A9A9;
		margin-left: 20px;
		padding-left: 10px; 
		display: none; 
	}
	footer{
		border: 2px solid #A9A9A9;
		width: 143.5%;
		height: 164px;
		float: left;
		margin-top: 5px;
		border-radius: 10px;
		background-color: #DCDCDC;
	}
	#footer2 {
		margin: 20px 20px;
	}
	.copy {
		float: right;
	}



